<div>
    <h1>How did you feed the ducks?</h1>
    <form ngNativeValidate [formGroup]="duckForm" (ngSubmit)="onSubmit(duckForm.value)">
        <div class="form-item">
            <label class="required" for="feedingTime">
                When did you feed the ducks?
            </label>
            <input required class="form-control" id="feedingTime" type="text" formControlName="feedingTime">
        </div>

        <div class="form-item">
            <label class="required" for="feedingLocation">
                Where did you feed them?
            </label>
            <input required class="form-control" id="feedingLocation" type="text" formControlName="feedingLocation">
        </div>

        <div class="form-item">
            <label class="required" for="foodType">
                What did you feed them?
            </label>
            <input required class="form-control" id="foodType" type="text" formControlName="foodType">
        </div>

        <div class="form-item">
            <label class="required" for="foodQuantity">
                How much did you feed them?
            </label>
            <input required class="form-control" id="foodQuantity" type="text" formControlName="foodQuantity">
        </div>

        <div class="form-item">
            <label class="required" for="numberOfDucks">
                How many ducks did you feed?
            </label>
            <input required class="form-control" id="numberOfDucks" type="text" formControlName="numberOfDucks" required>
        </div>
        <div class="btn-container">
            <a class="btn" href="" role="button">Back</a>

            <button class="btn" type="submit">Submit</button>
        </div>
    </form>
</div>